name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          # Yahan humne cache hata diya hai taaki fresh build ho sake
          
      - name: Grant execute permission for gradlew
        # Agar aapka code 'android' folder mein hai, toh yahan path sahi karein
        run: chmod +x android/gradlew 

      - name: Build with Gradle
        # 'working-directory' batana zaroori hai agar code folder ke andar hai
        run: ./gradlew assembleDebug
        working-directory: ./android 

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: android/app/build/outputs/apk/debug/app-debug.apk
          
